@font-face {
  font-family: "gagalin";
  src: url("./Gagalin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "cardo";
  src: url("./Cardo-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "cardo";
  src: url("./Cardo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "cardo";
  src: url("./Cardo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "vibes";
  src: url("./GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "scheherazade";
  src: url("./Scheherazade-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "scheherazade";
  src: url("./Scheherazade-Regular.ttf") format("truetype");
  font-weight: bold;
}
