@font-face {
  font-family: "gagalin";
  src: url("./Gagalin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "rancho";
  src: url("./Rancho-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "abril";
  src: url("./AbrilFatface-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "alex";
  src: url("./AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "amble";
  src: url("./Amble-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "cardo";
  src: url("./Cardo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "vibes";
  src: url("./GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "montez";
  src: url("./Montez-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "prata";
  src: url("./Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "rufina";
  src: url("./Rufina-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "satisfy";
  src: url("./Satisfy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "scheherazade";
  src: url("./Scheherazade-Regular.ttf") format("truetype");
}
