:root {
  @apply light;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    display: initial;
  }

  body {
    background-color: #f9f2e8;
  }

  .luminous {
    mix-blend-mode: luminosity;
  }

  .dodge {
    mix-blend-mode: color-dodge;
  }

  .hue {
    mix-blend-mode: hue;
  }

  .lighten {
    mix-blend-mode: lighten;
  }

  .overlay {
    mix-blend-mode: overlay;
  }

  .hardlight {
    mix-blend-mode: hard-light;
  }

  .difference {
    mix-blend-mode: difference;
  }

  .cardgrid-narrow {
    grid-template-columns: none;
    grid-template-rows: 0.5fr 0.17fr auto;
  }

  @media (min-width: 850px) {
    .cardgrid-wide {
      grid-template-rows: none;
      grid-template-columns: 0.5fr 0.17fr 0.33fr;
    }
  }

  .textShadow {
    text-shadow: 1px 1px 1px #000;
  }

}
